    /* Стиль для отображения карты на странице */
    #map {
        height: 100vh;
        width: 100%;
        border: none !important;
        outline: none !important;
      }

      :root {
        --swiper-theme-color: white !important;
    }

    #map iframe ~ div {
      border: none !important;
      outline: none !important;
    }



    .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
      background: red !important;
    }

    .swiper-horizontal>.swiper-pagination-progressbar, .swiper-pagination-progressbar.swiper-pagination-horizontal, .swiper-pagination-progressbar.swiper-pagination-vertical.swiper-pagination-progressbar-opposite, .swiper-vertical>.swiper-pagination-progressbar.swiper-pagination-progressbar-opposite {
      top: auto !important;
      bottom: 0 !important;
  }


    .swiper-button-next::after, .swiper-button-prev::after {
      background-color: red;
      width: 35px !important;
      height: 35px !important;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 16px !important;
    }
    .swiper-button-prev, .swiper-button-next {
     width: 35px !important;
      height: 35px !important;

      display: flex;
      justify-content: center;
      align-items: center;
    }

    .gm-style-iw-d {
      overflow: hidden !important;
    
    }

    .gm-style-iw-c .gm-ui-hover-effect {
        z-index: 99;
        background-color: white !important;
        border-radius: 0px 0px 0px 20px;
    }
    .gm-style-iw {
      padding: 0 !important;
    }

    .gm-style-iw-tc {
      display: none;
    }

    .infowin-contant {
      padding: 10px;
    }
    

      .main {
        display: flex;
        /* position: relative; */
        z-index: -1;
      }
      /* 
        .sidebar {
            width: 500px;
            background-color: black;
        } */

      .nav {
        /* position: absolute; */
        top: 120px;
        width: auto;
        /* left: 10px; */
        left: 190px;
        z-index: 33;
      }

      .cat {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
      }



      .cat-item {
        background-color: white;
    
        border-radius: 14px;
        color: black;
        text-transform: uppercase;
        font-weight: 500;
        font-size: 12px;
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
        
        white-space: nowrap;
      }
      .cat-item p {
        margin: 0;
      }
      /* .cat-item:nth-child(1) {
          margin-left: 10px;
      } */

      .cat-item:last-child {
          margin-right: 30px;
      }

      .cat-item svg{
          height: 20px;
          width: 20px;
       
      }

      .map-style-item.active p{
        font-weight: 900;
      }

      .counte .rgb {
        height: 3px;
        width: 100%;
        background: linear-gradient(to right, rgb(15, 219, 15), orange, red);
      }


      #all.all {
        /* background-color: red; */
        /* color: white; */
      }

   
     .infowin {
      max-width: 240px;
     }


     .map-settings {
      position: absolute;
      z-index: 99;
      right: 10px;
      bottom: 40px;
   
    }
    
    #countrySelect {
      border: 0;
      outline: none;
      font-family: 'Raleway', sans-serif;

      background-color: transparent ;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      padding-right: 20px;
      /* background-image: url(./../arrow.svg); */
      background-repeat: no-repeat;
      background-position: center right;
      
    }

    #openCat svg{
        width: 16px;
    }
    #openCat {
      position: relative;
    }
    #openCat.active .cat-drop{
      display: block;
    }
    #countrySelect{
      display: none;
    }
    #countrySelect.active{
      display: flex !important;
    }

 
    .indicator {
      display: none;
      position: absolute;
      font-size: 64px;
      color: red;
      line-height: 0;
      left: 10px;
      top: 16px;
  }

  .indicator.active {
    display: block;
    position: absolute;
    font-size: 64px;
    color: red;
    line-height: 0;
    left: 10px;
    top: 16px;
}

    #countrySelect::-ms-expand {
      display: none;
    }

    .map-settings span {
      background-color: white;
      font-size: 38px;
      font-weight: 700;

      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px !important;
      height: 40px !important;

      cursor: pointer;
    }

    .zoom-plus {
      border-radius: 10px 10px 0px 0px;
    }
    .zoom-plus:hover,.zoom-minus:hover  {
      background-color: gainsboro;
    }
    .zoom-minus {
      border-radius: 0px 0px 10px 10px;
    }

    /* #countrySelect option {
      padding: 20px;
      position: absolute !important;
      top: 100px;
      height: 100px !important;
    } */

    /* #countrySelect option:checked {
      background-color: red;
      color: white;
    } */


    .cntr {
      position: relative;
    } 
    .country-drop {
      /* background-color: white; */
       
      background-color: white !important;
      display: flex;
      /* left: 190px; */
      position: absolute;
    }

    .country-drop form{
      background-color: white !important;
      display: flex;
      gap: 10px;
      border-radius: 10px;
      
      padding: 10px;
      flex-direction: column;
      top: 30px;
      position: absolute;
    }

  
    .country-drop form div {
    
      display: flex;
      align-items: center;
      gap: 10px;
      flex-direction: row-reverse;
      justify-content: flex-end;
    }

/* Стили для радиокнопок */
input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 20px; /* Размер радиокнопки */
  height: 20px; /* Размер радиокнопки */
  border: 2px solid red; /* Цвет рамки радиокнопки */
  border-radius: 50%; /* Делаем кружок */
  outline: none;
  background-color: white; /* Фон радиокнопки */
}

/* Стиль для выбранной радиокнопки */
input[type="radio"]:checked {
  background-color: red; 
  border-color: red; 
}


.cat-drop form {
  background-color: white !important;
  display: flex;
  gap: 10px;
  border-radius: 10px;
  
  padding: 10px;
  flex-direction: column;
  /* top: 30px; */
  /* position: absolute; */
}



.cat-drop form div {
    
  display: flex;
  align-items: center;
  gap: 10px !important;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

/* .cat-drop .cat-item label{
  width: 100%;
  height: 100%;
  cursor: pointer;
} */


.hid {
  visibility: hidden;
  position: absolute;
}


.countries-item .country-drop {
  display: none;
}

.countries-item.active .country-drop {
  display: block;
}

    
  

    .cat-drop {
      position: absolute;
      /* left: 100px; */
      top: 50px;
      
      display: flex;
      flex-direction: column;
      align-items: flex-start; 
      /* gap: 10px; */
      border-radius: 10px;
      overflow: hidden;
      background-color: white;
      /* backdrop-filter: blur(3px); */
      /* background-color: rgb(0, 0, 0); */
      /* padding: 10px; */

    }


    .cat-item-title {
      display: flex;
      gap: 10px;
      align-items: center;
    }
    .cat-drop .cat-item {
  
      width: 100%;
      border-radius: 0;

      display: flex;
      
      /* justify-content: flex-start; */
      gap: 0;
      text-align: left;
    }
    .cat-drop .cat-item p {
      padding: 0 15px;
    }

    .cat-drop .cat-item svg {
      padding-left: 15px;
    }
    .cat-drop .cat-item p{
      margin: 0 !important;
    }
    
     
    .cat-drop .close {
      color: white;
      display: flex;
     
      font-weight: 300;

      justify-content: flex-end;
      position: relative;
      width: 100%;
      /* display: block; */
    }
    
    .cat-drop .close span{
      transform: rotate(45deg);
      font-size: 50px;
      position: absolute;
      right: 0;
      top: 0;
      margin: 0;
      padding: 0;
      height: 20px;

    }

    .cat-drop.active {
      display: flex;
    }

    .cat-drop {
      display: none;
    }

    

     @media (max-width: 830px) {
      .cat {
        /* width: 100vw; */
        scroll-behavior: smooth;
        /* overflow: auto; */
      }

      .cat-item p{
        font-size: 12px;
      }

      .nav {
        /* left: 0px !important; */
       /* padding-left: 15px; */
      }

      .map-style {
          left: 10px;
      }

      .map-settings {
        bottom: 40px;
        right: 10px;
      }
    }


  .circle {
    border: 2px solid red;
    padding: 7px;

    border-radius: 50%;
  }

  .country-item.active .circle{
    background-color: red;
  }
#openCount .country-drop {
  display: none;
}
 
#openCount.active .country-drop {
  display: block;
}


.sidebar {
  width: 64px;
  transition: 0.2s;
}
.sidebar.open {
  width: 400px;
}

.sidebar #hide-sidebar {
  transform: rotate(-90deg);
}

.sidebar #item-info {
  display: none;
}
.sidebar.open #hide-sidebar {
  transform: rotate(90deg);
}

.sidebar.open #item-info {
  display: block;
}



.item-info-wrapper {
  width: 100%;
  overflow: auto;
  height: 100vh;
}

.infocard {
  padding: 20px;
  width: 300px;
  overflow: hidden;
  border-radius: 14px;
  background-color: #3D3D3D;
  margin: 10px;
}




/* Общие стили для скроллбара */
.scroll-style::-webkit-scrollbar {
  width: 3px !important; /* Ширина скроллбара */
}

/* Стилизация трека */
.scroll-style::-webkit-scrollbar-track {
  background-color: #444444; /* Цвет трека */
  width: 2px !important;
}

/* Стилизация ползунка */
.scroll-style::-webkit-scrollbar-thumb {
  background-color: #e00000; /* Цвет ползунка */
  border-radius: 1px;
  width: 2px !important; 
  /* Закругление углов ползунка */
}

/* Стилизация кнопок */
.scroll-style::-webkit-scrollbar-button {
  display: none; /* Скрыть кнопки увеличения и уменьшения */
}


