header {
    /* background: rgba(255, 255, 255, 0.1); */
    /* backdrop-filter: blur(3.5px); */
    /* position: absolute; */
    background-color: black;
    width: 100%;
    position: fixed;
    height: 600px;
    z-index: 9999;
    padding:  0 20px;
}
.header a {
    color: white !important;
    text-decoration: none;
}
.header {
    position: absolute !important;
    z-index: 9999 !important;
 
}

.divider {
    height: 20px;
    width: 1px;
    background-color: white;
}

@media (max-width: 1420px) {
    .divider {
        height: 1px;
        margin: 0 20px;
        width: 100%;
        max-width: 200px;
        background-color: white;
    }  
}

.adnc .header__nav-drop {
    width: 300px !important;
}

.header__navbar-link svg{
    width: 10px;
}

#header {
    transition: 0.5s !important;
    transform: translateY(0);
    /* position: fixed !important; */
    z-index: 99;
    width: 100%;
    height: 80px;
    padding-top: 40px;
}

.header__navbar-item svg{
    margin-left: 10px;
    transition: 0.3s;
}

.header__navbar-item:hover svg{
    transform: rotate(180deg);
}

@media screen and (max-width: 830px){
    #header {
        padding-top: 20px;
    }
    
}

.header-hide {
    position: absolute !important;
    transform: translateY(-100%) !important;
    transition: 0.5s !important;
}

.header__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* justify-content: center; */
    height: 63px;
    width: 100%;
}

.gray-link {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400 !important;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.65) !important;
}

.gray-link:hover {
    color: red !important;
}

.header__navbar {
    display: flex;
    justify-content: center;
    margin: 0;
    margin-left: 15px;
    /* margin-right: auto; */
    gap: 16px;
    align-items: center;
}

.header__navbar-item {
    position: relative;
    /* max-width: 150px; */
    padding: 20px 0;
}


@media (min-width: 1280px) {
    .header__navbar.active .header__navbar-item {
        margin-left: 200px !important;
    }

    .header__navbar.active .divider{
        margin-left: 200px !important;
    }


}

@media (min-width: 920px) {
    .header__navbar.active::before {
        content: '';
        position: absolute;
      

        top: 0;
        width: 600px;
        height: 100vh;
        z-index: 99999;
        right: 0;
        background-repeat: no-repeat;
    } 
}




.header__navbar-link {
    text-decoration: none;
    font-style: normal;
    font-weight: 400 !important;
    font-size: 14px;
    /* padding: 20px; */
    line-height: 19px;
    color: #F5F5F5;
    transition: 0.3s ease all;
}

.header__logo img {
    width: 180px;

}
@media screen and (max-width: 830px){
    .header__logo img {
        width: 120px;
    }
    
}
@media screen and (min-width: 1920px){
    .header__navbar-link {
        text-decoration: none;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        /* padding: 20px; */
        line-height: 19px;
        color: #F5F5F5;
        transition: 0.3s ease all;
    }

    .header__logo img {
        width: 220px;
    
    }

    .header__navbar {
        display: flex;
      
        justify-content: center;
        margin: 0;
        margin-left: 45px;
        /* margin-right: auto; */
        gap: 30px;
    }
    
}


.header__navbar-item:hover .header__navbar-link{
    color: red;
}

/* .header__navbar-item:hover .header__navbar-link::before {
    content: "";
    position: absolute;
    bottom: 0px;
    display: inline-block;
    width: 100%;
    height: 3px;
    background-color: red;
}    */

.header__menu-btn {
    border: none;
    background: none;
    
    display: none;
    flex-direction: column;
    cursor: pointer;
    margin-right: 79px;
    align-items: flex-end;
    gap: 8px;
    z-index: 9999;
    padding: 15px;
    background-color: transparent;
}

.header__menu-line {
    display: inline-block;
    width: 27px;
    height: 2px;
    background-color: white;
    transition: all 0.3s ease;
}


.header__menu-line2 {
    width: 20px;
}


/* .open-dropdown::after {
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-left: 3px;
    background-image: url("../../assets//images/icons/mini-arrow.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    transition: all 0.3s ease;
    margin-left: 10px;
}

.header__navbar-item:hover .open-dropdown::after {
    transform: rotate(180deg);
} */

.active-header {
    color: var(--red);
}

.active-header::before {
    content: "";
    position: absolute;
    bottom: 0px;
    display: inline-block;
    width: 100%;
    height: 3px;
    background-color: var(--red);
}

.header__nav-drop {
    position: absolute;
    display: flex;
    flex-direction: column;
    visibility: hidden;
    top: 100%;
    gap: 10px;    
    padding: 15px;
    border-radius: 0 10px 10px 10px;
    /* background: #242424B8; */
    
    
    width: 560px;

    opacity: 0;
    transform: translateY(60px);
    /* transition: 0.4s ; */
}

.header__nav__drop-list {
    gap: 10px;
    display: flex;
    flex-direction: column;
    width: 200px;
}

.header__mini-heading {
    margin: 0;
}

.header__drop-link {
    text-decoration: none;
    color: white;
}


.header__drop-link:hover {
    color: red 
}

.header__mini__heading-link {
    text-decoration: none;
    color: white;
    font-size: 14px;
    margin: 0;
}

.header__mini__heading-link:hover {
    color: red;
}

.header__navbar-item:hover .header__nav-drop {
    visibility: visible;
    transform: translateY(0px) translateX(0);
    transition: 0.3s;
    opacity: 1;
}

.list-thin {
    width: 150px;
}



.mobile-cross {
    display: none;
}

.header__menu-btn {
    border-radius: 120px;
    width: 50px;
    height: 50px;
    display: none;
    
}

.lang-link-m {
    display: none;
}

@media only screen and (max-width: 1420px) {
    /* MOBILE */

    .lang-link {
        display: none;
    }

    .lang-link-m {
        display: block;
        display: flex;
        align-items: center;

    }

    .lang-link-m a {
        font-size: 20px !important;
    }

    .lang-active {
        color: #F20000 !important;
    }

    .lang__divider {
        height: 20px;
        display: block;
        background-color: white;
        width: 1px;
        margin: 0 5px;
    }

    .header__wrapper {
        display: flex;
        
        justify-content: space-between;
        align-items: center;
    }

    .header__menu-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        /* position: absolute; */
        /* right: 10px;
        top: 10px; */
        margin: 0;
    }

    .mobile-cross {
        display: flex;
        border: none;
        background: none;
        position: absolute;
        right: 30px;
        top: 30px;
    }

    .mobile-cross-icon {
        width: 20px;
        height: 20px;
        object-fit: contain;
    }

    .header__navbar {
        position: fixed;
        display: flex;
        transition: all 0.3s;
        flex-direction: column;
        /* width: 100vw; */
        height: 100vh;
       
        align-items: stretch;
        text-align: start;
        justify-content: flex-start;
        top: 0;
        right: 0;
        bottom: 0;
        margin-left: 0;
        z-index: 9999;
        background: rgba(54, 54, 54, 0.825);
        backdrop-filter: blur(3px);
        padding-top: 40px;
    }

    .header__navbar.active {
        height: 100vh !important;
        transform: translateX(0);
    }

    .header__navbar-item a{
        font-size: 26px;
    }

    .header__mini-heading {
        font-weight: normal;
        margin: 0;
    }

    .header__nav-drop {
        position: static;
        display: flex;
        transition: all 0.3s ease;
        transform: translateX(20px) translateY(0);
        visibility: hidden;
        flex-direction: column;
        height: 0;
        gap: 5px;    
        padding: 0;
        border-radius: 0 0 10px 10px;
        background: rgba(36, 36, 36, 0.4);
        backdrop-filter: blur(3px);
    }

    .header__navbar-item:hover .header__nav-drop {
        display: flex;
        height: 100%;
        visibility: visible;
        transform: translateX(20px) translateY(0);
        /* transform: scale(1); */
    }

    .header__mini__list-wrapper {
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        text-align: flex-start;
        padding-left: 10px;
    }

    .header__nav__drop-list {
        gap: 10px;
        display: flex;
        flex-direction: column;
        width: 200px;
    }

    .active-header::before {
        content: "";
        position: absolute;
        bottom: 0px;
        display: none;
        width: 100%;
        height: 3px;
        background-color: red;
    }

    .header__navbar-item {
        padding: 0;
        margin-left: 20px;
    }

    .header__navbar-item:hover .header__navbar-link::before {
        content: "";
        position: absolute;
        bottom: 0px;
        display: none;
        width: 100%;
        height: 3px;
        background-color: red;
    }   

    .header__navbar-link {
        margin-bottom: 0px;
    }

    /* .header__mini__heading-link{
        color: gray;
    } */

    .open-dropdown::after {
        content: "";
        display: inline-block;
        width: 15px;
        height: 15px;
        margin-left: 10px;
        /* background-image: url(./../../img/nav-open.svg); */
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        transition: all 0.3s ease;
    }

    .header__mini__heading-link {
        font-size: 18px !important;
    }

}


.header__navbar-link img {
    width: 8px;
    margin-left: 10px;
}


@media only screen and (max-width: 1420px) {
    .header__navbar {
        transform: translateX(100vw);
        background-color: black;
        padding-top: 140px;
        gap: 30px;
    }

    .header__nav-drop {
        background-color: transparent;
        transform: translateX(20px) translateY(0);
        width: 300px;
    }
    .header__navbar.active {
       
        width: 400px;
        right: 0;
        margin: 0;
    }

    .anim-1 {
        transform: translateX(200px);
        transition: 0.6s;
        opacity: 0;
    }
    
    .anim-2 {
        transform: translateX(200px);
        transition: 0.8s;
        opacity: 0;
    }
    
    .anim-3 {
        transform: translateX(200px);
        transition: 1s;
        opacity: 0;
    }
    
    .anim-4 {
        transform: translateX(200px);
        transition: 1.2s;
        opacity: 0;
    }
    
    .header__navbar.active .anim-1 {
        transform: translate(0);
        opacity: 1;
    }
    
    .header__navbar.active .anim-2{
        transform: translate(0);
        opacity: 1;
    }
    
    .header__navbar.active .anim-3{
        transform: translate(0);
        opacity: 1;
    }
    
    .header__navbar.active .anim-4{
        transform: translate(0);
        opacity: 1;
    }
}

@media only screen and (max-width: 1420px) {
    .header__navbar {
        transform: translateX(100vw);
        padding-top: 140px;
        gap: 30px;
    }

    .header__nav-drop {
        background-color: transparent;
        transform: translateX(20px);
    }

    .header__navbar-item:hover .header__nav-drop {
        visibility: visible;
        transform: translateX(20px) translateY(0px);
        transition: 0.3s;
        background-color: transparent !important;
        background: transparent !important;
        width: 300px;
        box-shadow: none;
        opacity: 1;
        backdrop-filter: none;
    }
    .header__navbar.active {
       
        width: 100%;
        right: 0;
        margin: 0;
    } 

    .header__navbar.active ~ .header__menu-btn .header__menu-line1 {
        transform: translateY(5px) rotate(45deg);
    }

    .header__navbar.active ~ .header__menu-btn .header__menu-line3 {
        transform: translateY(-5px) rotate(-45deg);
    }

    .header__menu-btn{
        transition: 0.3s ease-in-out;
    }
    .header.form-active {
        display: none;
    }
}

#header.scrolled {
    margin-top: 0;
    padding-top: 0px;
    height: 60px;
    background-color: rgba(73, 73, 73, 0.288);
    backdrop-filter: blur(4px);
}
#header img {
    transition: 0.3s;
}
#header.scrolled img{
    width: 120px;
}

@media (min-width: 1900px) {
    .header__navbar-link {
        font-size: 18px !important;
    }
}

.lang-link .header__nav-drop {
    width: auto;
}

.lang-link .header__nav-drop {
    width: auto;
}

.lang-link a{
    color: white;
    font-style: normal;
    font-weight: 400;
    text-decoration: none;
}

.lang-link a:hover{
    color: red;
    text-decoration: none;
}
@media (min-width: 1400px) and (max-width: 1440px) {
    #header img {
        width: 160px;
    }
}

.header__title {
    display: flex;
    text-transform: uppercase;
    justify-content: space-between;
    padding-bottom: 4px;


    border-bottom: 1px solid white;
}

.header__title p:last-child {
    font-size: 12px;
}
.header__title p:first-child {
    font-weight: 600 !important;
}
.header__drop-item {
    margin-bottom: 10px;
    padding: 16px 28px;
    /* background: #242424B8; */
    background: #242424e8 !important;
    border-radius: 12px;
    backdrop-filter: blur(5px);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.473);
}
.header__drop-item:last-child {
    margin-bottom: 0px;
}

.header__nav-drop  {
    gap: 0;
}

.header__drop-item .header__mini-heading {
    margin-left: 10px !important;
    margin-top: 10px;

    color: #FFF;
    font-family: Raleway;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}
.ehscmpn
.header__nav-drop {
    color: #FFF;
    gap: 10px;
    width: 300px;
    font-family: Raleway;
    font-size: 14px;
    font-style: normal;
    font-weight: 400 !important;
    line-height: normal;
    text-transform: uppercase;
    backdrop-filter: blur(5px);
}

.ehscmpn h3 {
    color: #FFF;
    gap: 10px;
    font-family: Raleway;
    font-size: 14px;
    font-style: normal;
    font-weight: 400 !important;
    line-height: normal;
    text-transform: uppercase;
}

.unactive {
    color: rgba(255, 255, 255, 0.40) !important;
}
.hdr-hover:hover {
    color: #F20000 !important;
}
.unactive-line {
    border-bottom: 1px solid rgba(255, 255, 255, 0.40) !important;
}

@media (max-width: 1280px) {
    .header__title {
        display: flex;
        text-transform: uppercase;
        justify-content: space-between;
        padding-bottom: 4px;
        border-bottom: 1px solid white;
    }
    
    .header__title p:last-child {
        font-size: 12px;
    }
    
    .header__drop-item {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .header__drop-item:last-child {
        margin-bottom: 0px;
    }
    
    .header__nav-drop  {
        gap: 0;
        margin: 0;
        padding: 0;
    }
    
    .header__drop-item .header__mini-heading {
        margin-left: 0px !important;
        margin-top: 4px;
    
        color: #FFF;
        font-family: Raleway;
        font-size: 12px !important;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-transform: uppercase;
    }
}
.newnav {
    backdrop-filter: none !important;
}
.newnav .header__mini-heading{
    padding: 7px 28px;
    width: 100%;
    /* border-bottom: 1px solid white !important; */

    background: #242424e8;
    border-radius: 12px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.473);
    backdrop-filter: blur(5px);
}

.newnav {
    /* transform: translateY(0) translateX(0)!important; */
   
    width: 180px !important;
    padding: 0;
}

@media (max-width: 1280px) {
    .header__navbar-item:hover .header__nav-drop {
        transform: translateY(0);
    }
    
    .header__drop-item {
        margin: 5px;
    }

    .header__drop-item:first-child {
        margin-top: 25px;
    }

    .header__mini__heading-link {
        font-size: 12px !important;
    }

    .header__title {
        font-size: 14px !important;
    }

    .newnav {
        transform: translateY(0) !important;
        gap: 0px !important;
        width: 240px !important;
    }

    .newnav .header__mini__list-wrapper{
        padding: 0;
    }

    .header__navbar-link {
        font-size: 26px !important;
    }

    .header__navbar {
        padding-top: 80px !important;
        gap: 15px !important;
        overflow: auto !important;
        height: 100vh !important;
    }

    .header__navbar {
        height: auto;
        scroll-behavior: smooth;
        overflow: auto; /* Или overflow: scroll; */
    }

    .ehscmpn .header__navbar {
        height: auto;
        scroll-behavior: smooth;
        overflow: auto; /* Или overflow: scroll; */
    }

    .header__navbar.active ~ .header__menu-btn{
        background-color: black !important;
    }

    .header__logo {
        z-index: 99999;
    }

    #header-wrapper {
        padding: 0 25px !important;
    }


  
}

@media (max-width: 360px) {
    .header {
        padding-top: 0 !important;
    }
}
.header {
    display: flex;
    justify-content: center;
}
.header__wrapper {
    /* width: 1440px; */
    /* padding: 20px 0; */
    margin: 0 auto;
    padding:  0 100px !important;
    z-index: 999;
}

.blg .header__nav-drop {
    max-width: 120px !important;
}